[package]
name = "clafrica"
version = "0.5.0"
edition = "2021"
description = "Core library of the clafrica input method."
keywords = ["ime", "keyboard"]
repository = "https://github.com/pythonbrad/name"
license = "MIT"
readme = "README.md"
authors = ["Brady Fomegne <fomegnemeudje@outlook.com>"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
doc = false
name = "name"
path = "./src/main.rs"

[dependencies]
clap = { version = "4.4.6", features = ["derive"] }
enigo = "0.1.3"
clafrica-config = { version = "0.4.1", path = "../config" }
clafrica-preprocessor = { version = "0.5.0", path = "../engine/preprocessor" }
clafrica-translator = { version = "0.0.1", path = "../engine/translator" }
rdev = "0.5.3"

[dev-dependencies]
rstk = "0.1.0"
