[package]
name = "afrim"
version = "0.5.0"
edition = "2021"
description = "Core library of the afrim input method."
keywords = ["ime", "keyboard"]
repository = "https://github.com/pythonbrad/afrim"
license = "MIT"
readme = "../README.md"
authors = ["Brady Fomegne <fomegnemeudje@outlook.com>"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
doc = false
name = "afrim"
path = "./src/main.rs"

[features]
default = ["rhai"]
rhai = ["afrim-config/rhai", "afrim-translator/rhai"]

[dependencies]
clap = { version = "4.4.6", features = ["derive"] }
enigo = "0.1.3"
afrim-config = { version = "0.4.1", path = "../config", default-features = false }
afrim-preprocessor = { version = "0.5.0", path = "../engine/preprocessor" }
afrim-translator = { version = "0.0.1", path = "../engine/translator", default-features = false }
rdev = "0.5.3"

[dev-dependencies]
rstk = "0.1.0"
