[package]
name = "afrim-translator"
version = "0.1.2"
edition = "2021"
description = "Manage the predication system of the afrim input method."
keywords = ["auto-complete", "ime", "predication"]
repository = "https://github.com/pythonbrad/afrim"
license = "MIT"
readme = "README.md"
authors = ["Brady Fomegne <fomegnemeudje@outlook.com>"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["rhai", "strsim"]
rhai = ["dep:rhai"]
rhai-wasm = ["rhai", "rhai/wasm-bindgen"]
strsim = ["dep:strsim"]

[dependencies]
rhai = { version = "1.17.0", optional = true, features = ["only_i32", "f32_float", "no_custom_syntax"] }
indexmap = { version = "2.1.1", features = ["serde"] }
strsim = { version = "0.10.0", optional = true }
