[package]
name = "clafrica-config"
version = "0.4.1"
edition = "2021"
description = "Handle the configuration of the clafrica input method."
keywords = ["ime", "config"]
repository = "https://github.com/pythonbrad/clafrica"
license = "MIT"
readme = "README.md"
authors = ["Brady Fomegne <fomegnemeudje@outlook.com>"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rhai = "1.16.2"
serde = { version = "1.0.188", features = ["derive"] }
toml = "0.8.2"
