[package]
name = "afrim-config"
version = "0.4.1"
edition = "2021"
description = "Handle the configuration of the afrim input method."
keywords = ["ime", "config"]
repository = "https://github.com/pythonbrad/afrim"
license = "MIT"
readme = "README.md"
authors = ["Brady Fomegne <fomegnemeudje@outlook.com>"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[features]
default = ["rhai"]
rhai = ["dep:rhai"]

[dependencies]
rhai = { version = "1.16.2", optional = true }
indexmap = { version = "2.0.2", features = ["serde"] }
serde = { version = "1.0.188", features = ["derive"] }
toml = "0.8.2"
