[package]
name = "afrim-preprocessor"
version = "0.5.1"
edition = "2021"
description = "A preprocessor to process keyboard events for an input method."
keywords = ["ime", "preprocessor", "keyboard"]
category = ["text-processing"]
repository = "https://github.com/pythonbrad/afrim"
license = "MIT"
readme = "README.md"
authors = ["Brady Fomegne <fomegnemeudje@outlook.com>"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[features]
default = []
inhibit = []

[dependencies]
keyboard-types = "0.7.0"
afrim-memory = { version = "0.3.2", path = "../../memory" }
